
body {
    background-color: white;
}

h1 {
    font-family: "Brush Script MT", "Lucinda Console", "Courier New", 'Courier New', Courier, monospace;
    font-size: 400%;
    border: 5px;

}

h2 {
    font-family: "Brush Script MT", "Lucinda Console", "Courier New", 'Courier New', Courier, monospace;
    font-size: 300%;
    color: black;
}

p {
    font-family: 'Courier New', Courier, monospace;
}


/* # is for id
. is for class */

.hidden {
    visibility: hidden;
}

.right {
    float: right;
}

a {
    display: flex;
    -ms-flex-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    color:black; 
    text-decoration: none;
}

#nav-home-tab {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#nav-project-tab {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#nav-about-tab {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

#foodBanner {
    width: 100%;
    height: 550px;
    align-content: center;
}

#search {
    display: flex;
    align-content: center;
    margin: auto;
    width: 70%;
    height: 40px;
    border-style: double;
    border-width: 5px;
    font-family:'Courier New', Courier, monospace;
    color: black;
}

#content {
    border-width: 5px;
    border-style: double;
    margin: 5%;
    margin-top: auto;
    padding: 20px;

}

#buttons {  
    padding-top: 10px;
    text-align: center;
    margin: auto;
    color: black;
    font-family:'Courier New', Courier, monospace;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

img.snapshot {
	border-width: 5px;
	border-style: solid;
	border-color:black;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
	margin: 10px 20px 40px 30px; 
    transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	}

#footerImages {
	margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
	}

#footerText {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 50%;
        padding: 10px;
    }

.carousel-inner > .carousel-item > img {
    display: flex;
    align-content: center;
    padding-top: 20px;
    margin:auto;
}

.ul {
    display: flex; 
    flex-direction: column;
    list-style-type: circle;
    list-style-position: inside;
    width: fit-content;
    margin: auto;
    text-align: left;
 }

 button#grocery {
     font-family: 'Courier New', Courier, monospace;
 }





