
body {
    background-color: rgb(176, 188, 201);
}

h1 {
    font-family: "Brush Script MT", "Lucinda Console", "Courier New", 'Courier New', Courier, monospace;
    font-size: 400%;
    border: 5px;

}

h2 {
    font-family: "Brush Script MT", "Lucinda Console", "Courier New", 'Courier New', Courier, monospace;
    font-size: 300%;
    color: azure;
}

.form {
    color:black;
    font-size: x-large;
}

/* # is for id
. is for class */

.hidden {
    visibility: hidden;
}

a {
    display: flex;
    -ms-flex-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    color:ivory; 
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

#form {
display:flex;
-ms-flex-align: center;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 10px;
}



.carousel-inner > .carousel-item > img {
    display: flex;
    align-content: center;
    padding-top: 20px;
    margin:auto;
}





